{% extends 'CcmCfdiBundle::layout.html.twig' %}

{% block css -%}
    {{ parent() }}

    <link href="{{ asset('bundles/ccmcfdi/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">


{% endblock %}

{% block body -%}
    <h1>Lista de Facturas</h1>

    <table  id="myTable" class="display table" >
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Emisor</th>
                <th>RFC</th>
                <th>Importe</th>
                <th>Impuesto</th>
                <th>Total</th>
                <th>Impuesto</th>
                <th>Tasa</th>
                <th>Importe</th>
                <th>Archivo</th>

                {#              <th>Id</th>
                                <th>Lugarexpedicion</th>
                                <th>Folio</th>
                                <th>Formapago</th>
                                <th>Tipocomprobante</th>
                                <th>Numerocertificado</th>


                                <th>Emisorcalle</th>
                                <th>Emisornumexterior</th>
                                <th>Emisorcolonia</th>
                                <th>Emisormunicipio</th>
                                <th>Emisorestado</th>
                                <th>Emisorpais</th>
                                <th>Emisorcp</th>
                                <th>Receptorrfc</th>
                                <th>Receptornombre</th>
                                <th>Receptorcalle</th>
                                <th>Receptornumexterior</th>
                                <th>Receptorcolonia</th>
                                <th>Receptormunicipio</th>
                                <th>Receptorestado</th>
                                <th>Receptorpais</th>
                                <th>Receptorcp</th>
                #}

            </tr>
        </thead>
        <tbody>

        {% for entity in entities %}
            <tr>
                <td>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y') }}{% endif %}</td>
                <td><a href="{{ path('_show', { 'id': entity.id }) }}">{{ entity.emisorNombre }}</a></td>
                <td>{{ entity.emisorRfc }}</td>
                <td>${{ entity.subTotal|number_format(2, '.', ',') }}</td>
                <td>${{ entity.totalImpuestoTrasladado|number_format(2, '.', ',') }}</td>
                <td><strong>${{ entity.total|number_format }}<strong></td>
                <td>{{ entity.impuesto }}</td>
                <td>{{ entity.tasa }}%</td>
                <td>${{ entity.importe|number_format(2, '.', ',')}}</td>
                <td>{{ entity.nombreArchivo }}</td>

{#
                <td><a href="{{ path('_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.lugarExpedicion }}</td>
                <td>{{ entity.folio }}</td>
                <td>{{ entity.formaPago }}</td>
                <td>{{ entity.tipoComprobante }}</td>
                <td>{{ entity.numeroCertificado }}</td>
                <td>{{ entity.emisorCalle }}</td>
                <td>{{ entity.emisorNumExterior }}</td>
                <td>{{ entity.emisorColonia }}</td>
                <td>{{ entity.emisorMunicipio }}</td>
                <td>{{ entity.emisorEstado }}</td>
                <td>{{ entity.emisorPais }}</td>
                <td>{{ entity.emisorCp }}</td>
                <td>{{ entity.receptorRfc }}</td>
                <td>{{ entity.receptorNombre }}</td>
                <td>{{ entity.receptorCalle }}</td>
                <td>{{ entity.receptorNumExterior }}</td>
                <td>{{ entity.receptorColonia }}</td>
                <td>{{ entity.receptorMunicipio }}</td>
                <td>{{ entity.receptorEstado }}</td>
                <td>{{ entity.receptorPais }}</td>
                <td>{{ entity.receptorCp }}</td>

                <td>{{ entity.uuid }}</td>
                <td>{% if entity.fechaTimbrado %}{{ entity.fechaTimbrado|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
#}

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}

    {% block javascript -%}

        {{ parent() }}

        <script src="{{ asset('bundles/ccmcfdi/js/jquery.dataTables.min.js') }}"></script>
        <script src="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

        <script>
            $(document).ready(function(){
                $('#myTable').DataTable({"language": {url: '//cdn.datatables.net/plug-ins/1.10.7/i18n/Spanish.json'}});
            });
        </script>

    {% endblock %}